In [8]:
import pandas as pd 

rows = pd.read_csv('widia_zip_codes.csv', index_col=0)

# Prints the datatypes per column 
columns = rows.dtypes

print(columns)

ZIP                   int64
TEAM                 object
SUBTEAM              object
TERRITORY           float64
CITY                 object
STATE                object
COUNTY               object
MANAGER NAME         object
FY20 SE NAME         object
FY20 Agent Names     object
Email Manager        object
email                object
dtype: object

In [15]:
# Get single column 
print(rows["CITY"])

zip_code
9002             APO
9003             APO
9004             APO
9005             APO
9006             APO
            ...
13905     BINGHAMTON
29486    SUMMERVILLE
97703           BEND
86005      FLAGSTAFF
60418      CRESTWOOD
Name: CITY, Length: 42012, dtype: object

In [28]:
# zip_code,ZIP,TEAM,SUBTEAM,TERRITORY,CITY,STATE,COUNTY,MANAGER NAME,FY20 SE NAME,FY20 Agent Names,Email Manager,email

zip_codes = rows["ZIP"]
states = rows["STATE"]
# Display statistics on series
zip_codes.describe()

count    42012.000000
mean     49427.176926
std      28175.069240
min        501.000000
25%      25539.250000
50%      48660.000000
75%      73032.250000
max      99999.000000
Name: ZIP, dtype: float64

In [32]:
# Frequency each column 
# zip_codes.value_counts()
states.value_counts()

CA    2614
TX    2609
PA    2193
NY    2166
IL    1580
      ...
FM       4
MP       3
PW       2
MH       2
AS       1
Name: STATE, Length: 62, dtype: int64

In [42]:
# Boolean indexing 
rows_on_california_state = rows.loc[rows["STATE"] == "CA"]
rows_on_california_state.describe()

                ZIP  TERRITORY
count   2614.000000        0.0
mean   93464.752487        NaN
std     1789.910391        NaN
min    90001.000000        NaN
25%    92117.250000        NaN
50%    93534.500000        NaN
75%    95153.750000        NaN
max    96162.000000        NaN

In [43]:
rows_on_california_state.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2614 entries, 93067 to 92899
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ZIP               2614 non-null   int64
 1   TEAM              2614 non-null   object
 2   SUBTEAM           2614 non-null   object
 3   TERRITORY         0 non-null      float64
 4   CITY              2614 non-null   object
 5   STATE             2614 non-null   object
 6   COUNTY            2614 non-null   object
 7   MANAGER NAME      2614 non-null   object
 8   FY20 SE NAME      2221 non-null   object
 9   FY20 Agent Names  2614 non-null   object
 10  Email Manager     2614 non-null   object
 11  email             2614 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 265.5+ KB