In [715]:
import pandas as pd

In [716]:
# 1. Read the file 
laptops = pd.read_csv('laptops.csv', encoding='utf-8')

laptops.info()
# patche object ya ing type, string ya

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

In [717]:
# len ta la deng columns
laptops.columns

# pansinan me ing storage atin yang pre-pended a space ' Storage'

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [718]:
# copying data
laptops_test = laptops.copy()

# replacing columns 
laptops_test.columns = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M']
print(laptops_test.columns)
# laptops_test.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M'], dtype='object')

## Cleaning Columns 
1. Remove whitespaces
2. Replaces all spaces with underscores.
3. Removes parentheses from the string.
4. Makes the entire string lowercase.
5. Returns the modified string

In [719]:
def clean_column(column):
    # 1. Remove whitespaces
    # 2. Replaces all spaces with underscores.
    # 3. Removes parentheses from the string.
    # 4. Makes the entire string lowercase.
    # 5. Returns the modified string
    column = column.strip()
    column = column.replace("(", "")
    column = column.replace(")", "")
    column = column.lower()
    column = column.replace(" ", "_")
    
    return column
    
new_columns = []

for column in laptops.columns:
    new_columns.append(clean_column(column))
    

laptops.columns = new_columns

In [720]:
print(laptops.iloc[:5,2:5])

# notice screen sizes are in inches string 13.3", meaning we cannot 
# calculate values from these, let's convert

    category screen_size                              screen
0  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600
1  Ultrabook       13.3"                            1440x900
2   Notebook       15.6"                   Full HD 1920x1080
3  Ultrabook       15.4"  IPS Panel Retina Display 2880x1800
4  Ultrabook       13.3"  IPS Panel Retina Display 2560x1600

## Data Cleaning Workflow 

1. Explore the data in column 
2. Identify patterns & special cases
3. Remove non-digit characters
4. Convert the column to a numeric dtype
5. Rename column if required

In [721]:
# When you see dtype('O') inside dataframe this means Pandas string.
# Reference: https://stackoverflow.com/questions/37561991/what-is-dtypeo

laptops["screen_size"].dtype  # string

dtype('O')

In [722]:
# Getting unique values
laptops["screen_size"].sort_values().unique()

array(['10.1"', '11.3"', '11.6"', '12.0"', '12.3"', '12.5"', '13.0"',
       '13.3"', '13.5"', '13.9"', '14.0"', '14.1"', '15.0"', '15.4"',
       '15.6"', '17.0"', '17.3"', '18.4"'], dtype=object)

In [723]:
# unique "RAM"
unique_ram = laptops["ram"].unique()
print(unique_ram)

['8GB' '16GB' '4GB' '2GB' '12GB' '6GB' '32GB' '24GB' '64GB']

## Vectorized String methods

In [724]:
# removing quotes in screen size

laptops["screen_size"] = laptops["screen_size"].str.replace('"', "")
print(laptops["screen_size"].unique())

['13.3' '15.6' '15.4' '14.0' '12.0' '11.6' '17.3' '10.1' '13.5' '12.5'
 '13.0' '18.4' '13.9' '12.3' '17.0' '15.0' '14.1' '11.3']

In [725]:
# removing "GB" in ram 
laptops["ram"] = laptops["ram"].str.lower().str.replace("gb", "")
print(laptops["ram"].unique())

['8' '16' '4' '2' '12' '6' '32' '24' '64']

## Convert to Numeric Types

In [726]:
# convert screen sizes to float 
laptops["screen_size"] = laptops["screen_size"].astype(float)
print(laptops["screen_size"].unique())

[13.3 15.6 15.4 14.  12.  11.6 17.3 10.1 13.5 12.5 13.  18.4 13.9 12.3
 17.  15.  14.1 11.3]

In [727]:
# convert ram to float
laptops["ram"] = laptops["ram"].astype(int)
print(laptops["ram"])

0        8
1        8
2        8
3       16
4        8
        ..
1298     4
1299    16
1300     2
1301     6
1302     4
Name: ram, Length: 1303, dtype: int64

In [728]:
laptops.dtypes

manufacturer                 object
model_name                   object
category                     object
screen_size                 float64
screen                       object
cpu                          object
ram                           int64
storage                      object
gpu                          object
operating_system             object
operating_system_version     object
weight                       object
price_euros                  object
dtype: object

## Renaming columns

Sometimes when we clean & format data, the original column name may not fully describe the original data, so it would be useful if we can rename these columns. We can use the `DataFrame.rename()` method to do so.

In [729]:
# rename screen_size to screen_size_inches 
laptops.rename({"screen_size": "screen_size_inches"}, axis = 1, inplace = True)
print(laptops["screen_size_inches"])

0       13.3
1       13.3
2       15.6
3       15.4
4       13.3
        ...
1298    14.0
1299    13.3
1300    14.0
1301    15.6
1302    15.6
Name: screen_size_inches, Length: 1303, dtype: float64

In [730]:
# rename ram column to ram_gb
laptops.rename({"ram": "ram_gb"}, inplace=True, axis=1)
ram_gb_desc = laptops["ram_gb"].describe()
ram_gb_desc
# laptops

count    1303.000000
mean        8.382195
std         5.084665
min         2.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        64.000000
Name: ram_gb, dtype: float64

In [731]:
# Vectorized splitting 
laptops["gpu"].head().str.split().str[0]

0    Intel
1    Intel
2    Intel
3      AMD
4    Intel
Name: gpu, dtype: object

In [732]:
# laptops.head()

# Exctract the manufacturer name 
cpu_manufacturer = laptops["cpu"].str.split().str[0]

# Assign as new column 
laptops["cpu_manufacturer"] = cpu_manufacturer

cpu_manufacturer_counts = cpu_manufacturer.value_counts() # Frequency Distribution 
cpu_manufacturer_counts
# laptops

Intel      1240
AMD          62
Samsung       1
Name: cpu, dtype: int64

## Series Mapping 

Consider the following example:

In [733]:
# laptops.head()
print(laptops["operating_system"].value_counts())

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: operating_system, dtype: int64

`macOS` and `Mac OS` should be aggregated, in this case we can utilize the `Series.map()` fn

In [734]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

laptops["os"] = laptops["operating_system"].map(mapping_dict)
laptops["os"].value_counts()
# laptops.head(2)

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          21
Android         2
Name: os, dtype: int64

## Identifying missing values

Once identified, there are a few options for handling missing values:
1. Remove any rows that have missing values.
2. Remove any columns that have missing values.
3. Fill the missing values with some other value.
4. Leave the missing values as is.

First two are typically used for machine learning algorithms.

We can do so by using the `DataFrame.dropna()` method

In [735]:
# In a data frame, identify what are the null and non-null cells
laptops.head().isnull()
# laptops["operating_system_version"].isnull().value_counts()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,operating_system,operating_system_version,weight,price_euros,cpu_manufacturer,os
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False

In [736]:
# check original count
laptops.shape

(1303, 15)

In [737]:
# drop all with null
# axis 0 ~ x drops rows 
# axis 1 ~ y drops columns with null values
laptops.dropna(axis=0).shape # 1303 - 1133

(1133, 15)

## Replacing missing values

Sometimes we dont want to drop since it can greatly affect our results, in some cases we can replace these values with whatever is appropriate for null values (mean, mode,.etc)

Let's check out the data first

In [738]:
laptops["operating_system_version"].value_counts(dropna=False) ## include null values

10      1072
NaN      170
7         45
X          8
10 S       8
Name: operating_system_version, dtype: int64

In [739]:
# Print the operating systems with null os version values 
os_with_null_value = laptops.loc[laptops["operating_system_version"].isnull(), "os"]
os_with_null_value.value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [740]:
# We know that macOS should be asigned to "X" on their os system version
laptops.loc[laptops["operating_system"] == "macOS", "operating_system_version"] = "X"

In [741]:
os_with_null_value = laptops.loc[laptops["operating_system_version"].isnull(), "os"]
os_with_null_value.value_counts()

No OS        66
Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

In [742]:
laptops.loc[laptops["operating_system"] == "No OS", "operating_system_version"] = "Version Unknown"
laptops.loc[laptops["operating_system"] == "No OS",].head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,operating_system,operating_system_version,weight,price_euros,cpu_manufacturer,os
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,Version Unknown,1.86kg,"575,00",Intel,No OS
10,HP,250 G6,Notebook,15.6,1366x768,Intel Core i5 7200U 2.5GHz,4,500GB HDD,Intel HD Graphics 620,No OS,Version Unknown,1.86kg,"393,90",Intel,No OS
11,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i3 6006U 2GHz,4,500GB HDD,Intel HD Graphics 520,No OS,Version Unknown,1.86kg,"344,99",Intel,No OS
18,Lenovo,IdeaPad 320-15IKB,Notebook,15.6,Full HD 1920x1080,Intel Core i3 7100U 2.4GHz,8,1TB HDD,Nvidia GeForce 940MX,No OS,Version Unknown,2.2kg,"499,00",Intel,No OS
22,HP,255 G6,Notebook,15.6,1366x768,AMD E-Series E2-9000e 1.5GHz,4,500GB HDD,AMD Radeon R2,No OS,Version Unknown,1.86kg,"258,00",AMD,No OS

## Cleaning the Weight as well

In [743]:
print(laptops["weight"].head())

0    1.37kg
1    1.34kg
2    1.86kg
3    1.83kg
4    1.37kg
Name: weight, dtype: object

In [744]:
laptops["weight"] = laptops["weight"].str.replace('[a-zA-Z]', '').astype(float)
# laptops.rename({"weight": "weight_kg"}, axis = 1, inplace = True)

In [745]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_gb,storage,gpu,operating_system,operating_system_version,weight,price_euros,cpu_manufacturer,os
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37,"1339,69",Intel,macOS
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34,"898,94",Intel,macOS
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,Version Unknown,1.86,"575,00",Intel,No OS
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,X,1.83,"2537,45",Intel,macOS
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37,"1803,60",Intel,macOS

## Extra Conversions
1. Convert price euros to numeric
2. Extract screen_resolution from screen column
3. Extract the processor_speed from the cpu column

In [746]:
# 1.
# laptops['price_euros'] = laptops["price_euros"].str.replace('\D', '').astype(float)
laptops['price_euros'].value_counts()

1799,00    14
1099,00    14
1499,00    14
499,00     11
1199,00    11
           ..
1534,00     1
415,00      1
859,01      1
1948,99     1
321,99      1
Name: price_euros, Length: 791, dtype: int64

In [747]:
# 2. 
laptops["screen_resolution"] = laptops['screen'].str.replace('[^\d*x\d*]', '')
laptops["screen_resolution"].value_counts()

1920x1080     841
1366x768      308
43840x2160     43
3200x1800      27
1600x900       23
2560x1440      23
2304x1440       6
2560x1600       6
2256x1504       6
1920x1200       5
2400x1600       4
2880x1800       4
1440x900        4
2160x1440       2
2736x1824       1
Name: screen_resolution, dtype: int64

In [763]:
# 3.
# procesor_speed
laptops['processor_speed'] = laptops['cpu'].str.split(" ").str[-1].str.split("G").str[0]
# laptops['processor_speed'] = laptops['cpu'].str.split('\d.*Ghz').str[1].astype(float)
# laptops['processor_speed'].value_counts()

## Export to CSV

In [764]:
laptops.to_csv("laptops_cleaned.csv", index=False)

Here are some questions you might like to answer in your own time by analyzing the cleaned data:

- Are laptops made by Apple more expensive than those made by other manufacturers?
- What is the best value laptop with a screen size of 15" or more?
- Which laptop has the most storage space?

Are laptops made by Apple more expensive than those made by other manufacturers?