In [73]:
# variables

my_age = 24
my_age += 1
print(my_age / 3)

8.333333333333334

In [74]:
# types

print(type(3))
print(type(3.1415))
print(type('chris'))

<class 'int'>
<class 'float'>
<class 'str'>

In [75]:
# lists & arrays

prime_numbers = [3, 6, 7, 61, 29]
print(type(prime_numbers))
print(prime_numbers[0:2])

i = 100
try:
    prime_numbers[i]
    print("index is defined.")
except:
    print("index is not set")

<class 'list'>
[3, 6]
index is not set

In [76]:
scores = [3,2,100,50]
scores.sort(reverse=True)
print(scores[:2])

[100, 50]

## LSD Math Score Data

In [77]:
import pandas as pd 
data = pd.read_csv('lsd_math_score_data.csv')
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Time_Delay_in_Minutes  7 non-null      int64
 1   LSD_ppm                7 non-null      float64
 2   Avg_Math_Test_Score    7 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 296.0 bytes

       Time_Delay_in_Minutes   LSD_ppm  Avg_Math_Test_Score
count               7.000000  7.000000             7.000000
mean              135.714286  4.332857            50.087143
std               172.347241  1.935413            18.610854
min                 5.000000  1.170000            29.970000
25%                22.500000  3.115000            35.195000
50%                60.000000  4.690000            45.650000
75%               180.000000  5.915000            62.835000
max               480.000000  6.410000            78.930000

In [78]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [79]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [80]:
math_scores = data['Avg_Math_Test_Score']
math_scores

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [81]:
data["Average_Score"] = math_scores + 100
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Average_Score
0                      5     1.17                78.93         178.93
1                     15     2.97                58.20         158.20
2                     30     3.26                67.47         167.47
3                     60     4.69                37.47         137.47
4                    120     5.83                45.65         145.65
5                    240     6.00                32.92         132.92
6                    480     6.41                29.97         129.97

In [82]:
data["Average_Score"] = data["Average_Score"] ** 2  
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Average_Score
0                      5     1.17                78.93     32015.9449
1                     15     2.97                58.20     25027.2400
2                     30     3.26                67.47     28046.2009
3                     60     4.69                37.47     18898.0009
4                    120     5.83                45.65     21213.9225
5                    240     6.00                32.92     17667.7264
6                    480     6.41                29.97     16892.2009

In [84]:
# series 
# 1. only has single column 
# 2. can have attributes (name, etc,.)

# *A dataframe is a collection of series 
type(math_scores)

pandas.core.series.Series

In [88]:
required_columns = ['LSD_ppm', 'Avg_Math_Test_Score']
clean_data = data[required_columns]

In [93]:
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [98]:
# deleting a column 
data["Test_Subject"] = "Michael Jackson"
del data["Test_Subject"]
# del data["High_Score"]
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  Average_Score
0                      5     1.17                78.93     32015.9449
1                     15     2.97                58.20     25027.2400
2                     30     3.26                67.47     28046.2009
3                     60     4.69                37.47     18898.0009
4                    120     5.83                45.65     21213.9225
5                    240     6.00                32.92     17667.7264
6                    480     6.41                29.97     16892.2009

In [102]:
data

# multiple boolean indexing
data[data["Time_Delay_in_Minutes"] > 120 ]

0    False
1    False
2    False
3    False
4    False
5     True
6     True
Name: Time_Delay_in_Minutes, dtype: bool