In [9]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [11]:
# Index Levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(randn(6,2), hier_index, ['A', 'B'])

In [14]:
df

             A         B
G1 1 -0.153202 -0.063131
   2  0.192878 -1.531747
   3  0.009842 -1.299672
G2 1 -0.076912 -1.084000
   2  1.666163 -0.479815
   3  1.383747 -0.660767

In [21]:
df.loc['G1'].iloc[1]

A    0.192878
B   -1.531747
Name: 2, dtype: float64

In [22]:
df.index.names

FrozenList([None, None])

In [23]:
df.index.names = ['Groups', 'Num']

In [24]:
df

                   A         B
Groups Num
G1     1   -0.153202 -0.063131
       2    0.192878 -1.531747
       3    0.009842 -1.299672
G2     1   -0.076912 -1.084000
       2    1.666163 -0.479815
       3    1.383747 -0.660767

In [28]:
df.loc['G2'].loc[2]['B']

-0.47981484800761487

In [29]:
df.xs

<bound method NDFrame.xs of                    A         B
Groups Num
G1     1   -0.153202 -0.063131
       2    0.192878 -1.531747
       3    0.009842 -1.299672
G2     1   -0.076912 -1.084000
       2    1.666163 -0.479815
       3    1.383747 -0.660767>